@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
@import "_variables";
@import "_elements";
@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@300&@500&display=swap");

* {
  box-sizing: border-box;
  // cursor: url("/images/cursor.png"), auto;
}

.cursor {
  width: 2em;
  height: 2em;
  background-color: $navy;
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

body {
  width: auto;
  font-family: "Newsreader", serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  padding-left: 5%;
  padding-top: 1em;
  width: auto;
  height: 250px;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 0.3em;
}

main {
  width: 95%;
  padding-left: 5%;
}

.table__box {
  &:first-child {
    font-size: 14px;
    color: red;
    font-weight: 500;
    letter-spacing: 1px;
  }
  display: grid;
  grid-template-columns: 0.6fr 2fr 3fr 0.3fr;
  padding: 15px 0px;
  border-bottom: 1px solid black;
  font-size: 18px;
  cursor: pointer;
  .table__security {
    color: red;
  }
  &:hover {
    font-style: italic;
  }
}

.gringotts {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 33em;
  margin: 2.5em 2em;
  margin-top: 0.5em;
  border-radius: 1.4em;
  border: 0.03em solid black;
}

.sortingHat {
  width: auto;
  height: 33em;
  margin: 2.5em 2em;
  margin-top: 0.5em;
  border-radius: 1.4em;
  border: 0.03em solid black;
}

.visible {
  display: none;
}

.girngotts__header {
  width: auto;
  padding: 2em 3em;
  display: flex;
  justify-content: space-between;
  h3 {
    font-size: 1.7em;
    text-align: center;
    border-radius: 2.4em;
    padding-bottom: 0.1em;
    width: 7em;
    color: $navy;
    border-bottom: 0.04em solid #30336b;
  }
}

.gringotts__main {
  display: flex;
  padding: 0.5em 4em;
  width: auto;
  justify-content: space-between;
  h2 {
    font-size: 1.2em;
    margin-bottom: 0.4em;
    background-color: $navy;
    color: white;
    span {
      font-size: 0.8em;
      color: $green;
    }
  }
}

.gringotts__summary {
  font-size: 1.3em;
  margin-top: 0.7em;
  display: flex;
  align-items: center;
  h4 {
    margin-right: 0.3em;
    color: $green;
    border-radius: 0.4em;
    padding: 0.2em;
  }
  span {
    margin-right: 2em;
  }
}

.gringotts__movements {
  width: 40em;
  height: 20em;
  border: 0.03em solid black;
  overflow: scroll;
}

@media screen and (max-width: 1280px) {
  .gringotts {
    display: none;
  }
}
.gringotts__movements::-webkit-scrollbar {
  width: 0.8em;
  border-radius: 0.4em;
}

.gringotts__movements::-webkit-scrollbar-thumb {
  background-color: $green;
}

.gringotts__movements::-webkit-scrollbar-track {
  background-color: $grey;
}

.movement {
  height: 3em;
  margin: 0.6em 1em;
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  align-items: center;
  .movement__status__deposit {
    background-color: $purple;
    width: 6em;
    height: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .movement__context {
    font-style: italic;
  }
  .movement__status__withdrawal {
    background-color: $red;
    width: 6em;
    height: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}
.gringotts__right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.gringotts__box {
  border: 0.05em $navy solid;
  height: 8em;
  width: 20em;

  h5 {
    font-size: 1.3em;
    color: $navy;
    margin: 1em 1.4em;
  }
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .input__text {
    width: 16em;
    height: 3em;
    outline: none;
  }
  .input__button {
    background-color: $grey;
    border: 0.05em $navy solid;
    cursor: pointer;
    outline: none;
    width: 3.5em;
    height: 3em;
    color: white;
  }
}

.sortinghat__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 5em auto;
  .sortinghat__name {
    font-size: 1.7em;
    outline: none;
    text-align: center;
    padding: 0.3em;
    border: none;
    border-bottom: 0.06em $navy solid;
    margin-bottom: 1.4em;
    &::placeholder {
      opacity: 0.4;
      color: $red;
    }
  }
  .sortinghat__check {
    font-size: 0.9em;
    padding: 1em;
    background-color: $navy;
    outline: none;
    border: none;
    color: $green;
    cursor: pointer;
    margin-bottom: 1.3em;
    border-radius: 0.7em;
  }
  .sortinghat__result {
    margin-top: 0.7em;
    font-size: 3em;
    font-style: italic;
  }
  .sortinghat__sort {
    font-size: 0.9em;
    text-transform: uppercase;
    padding: 1em;
    background-color: $navy;
    outline: none;
    border: none;
    color: $purple;
    cursor: pointer;
    margin-top: 4em;
    border-radius: 0.7em;
  }
}
