@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
@import "_variables";
@import "_elements";
@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@300&@500&display=swap");

* {
  box-sizing: border-box;
  // cursor: url("/images/cursor.png"), auto;
}

.cursor {
  width: 2em;
  height: 2em;
  background-color: $navy;
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

body {
  width: auto;
  height: 200vh;
  font-family: "Newsreader", serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

header {
  padding-left: 5%;
  padding-top: 1em;
  width: auto;
  height: 250px;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 0.3em;
}

main {
  width: 95%;
  padding-left: 5%;
}

.table__box {
  &:first-child {
    font-size: 14px;
    color: red;
    font-weight: 500;
    letter-spacing: 1px;
  }
  display: grid;
  grid-template-columns: 0.6fr 2fr 3fr 0.3fr;
  padding: 15px 0px;
  border-bottom: 1px solid black;
  font-size: 18px;
  cursor: pointer;
  .table__security {
    color: red;
  }
  &:hover {
    font-style: italic;
  }
}

.gringotts {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 33em;
  margin: 2.5em 2em;
  margin-top: 0.5em;
  border-radius: 1.4em;
  border: 0.03em solid black;
}

.sortingHat {
  width: auto;
  height: 33em;
  margin: 2.5em 2em;
  margin-top: 0.5em;
  border-radius: 1.4em;
  border: 0.03em solid black;
}

.girngotts__header {
  width: auto;
  padding: 2em 3em;
  display: flex;
  justify-content: space-between;
  h3 {
    font-size: 1.7em;
    text-align: center;
    border-radius: 2.4em;
    padding-bottom: 0.1em;
    width: 7em;
    color: $navy;
    border-bottom: 0.04em solid #30336b;
  }
}

.gringotts__main {
  display: flex;
  padding: 0.5em 4em;
  width: auto;
  justify-content: space-between;
  h2 {
    font-size: 1.2em;
    margin-bottom: 0.4em;
    background-color: $navy;
    color: white;
    span {
      font-size: 0.8em;
      color: $green;
    }
  }
}

.gringotts__summary {
  font-size: 1.3em;
  margin-top: 0.7em;
  display: flex;

  align-items: center;
  h4 {
    color: $green;
    padding: 0.1em;
    margin-right: 0.5em;
  }
  span {
    margin-right: 1em;
  }
}

.gringotts__movements {
  width: 40em;
  height: 20em;
  border: 0.03em solid black;
  overflow: scroll;
}

@media screen and (max-width: 1280px) {
  .gringotts {
    display: none;
  }
}
.gringotts__movements::-webkit-scrollbar {
  width: 0.8em;
  border-radius: 0.4em;
}

.gringotts__movements::-webkit-scrollbar-thumb {
  background-color: $green;
}

.gringotts__movements::-webkit-scrollbar-track {
  background-color: $grey;
}

.movement {
  height: 3em;
  margin: 0.6em 1em;
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  align-items: center;
  .movement__status__deposit {
    background-color: $purple;
    width: 6em;
    height: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .movement__context {
    font-style: italic;
  }
  .movement__status__withdrawal {
    background-color: $red;
    width: 6em;
    height: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}
.gringotts__right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.gringotts__box {
  border: 0.05em $navy solid;
  height: 8em;
  width: 20em;

  h5 {
    font-size: 1.3em;
    color: $navy;
    margin: 1em 1.4em;
  }
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .input__text {
    width: 16em;
    height: 3em;
    outline: none;
  }
  .input__button {
    background-color: $grey;
    border: 0.05em $navy solid;
    cursor: pointer;
    outline: none;
    width: 3.5em;
    height: 3em;
    color: white;
  }
}

.sortinghat__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 5em auto;
  .sortinghat__name {
    font-size: 1.7em;
    outline: none;
    text-align: center;
    padding: 0.3em;
    border: none;
    border-bottom: 0.06em $navy solid;
    margin-bottom: 1.4em;
    &::placeholder {
      opacity: 0.4;
      color: $red;
    }
  }
  .sortinghat__check {
    font-size: 0.9em;
    padding: 1em;
    background-color: $navy;
    outline: none;
    border: none;
    color: $green;
    cursor: pointer;
    margin-bottom: 1.3em;
    border-radius: 0.7em;
  }
  .sortinghat__result {
    margin-top: 0.7em;
    font-size: 3em;
    font-style: italic;
  }
  .sortinghat__sort {
    font-size: 0.9em;
    text-transform: uppercase;
    padding: 1em;
    background-color: $navy;
    outline: none;
    border: none;
    color: $purple;
    cursor: pointer;
    margin-top: 4em;
    border-radius: 0.7em;
  }
}

.tm__diary {
  width: auto;
  height: 33em;
  margin: 2.5em 2em;
  margin-top: 0.5em;
  border-radius: 1.4em;
  border: 0.03em solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  .tm__diary__page {
    width: 80%;
  }
  .tm__diary__today {
    text-align: center;
    margin-top: 2.5em;
    font-size: 1.4em;
    border-bottom: 0.05em solid $red;
    padding: 0.4em;
  }
  .tm__diary__letter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1.9em);
    border-bottom: 0.05em solid $red;
  }
  .tm__diary__content {
    display: flex;
    align-items: center;
    height: 1.9em;
  }

  .tm__diary__animation {
    animation: fadeIn ease 2s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.library__hermione {
  width: auto;
  height: 33em;
  margin: 2.5em 2em;
  margin-top: 0.5em;
  border-radius: 1.4em;
  border: 0.03em solid black;
  .hermione__container {
    margin: 2em auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.hermione__speaking {
  font-size: 1.4em;
}

.hermione__template {
  width: auto;
  height: auto;
  display: grid;
  gap: 0.05em;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1em;
  background-color: black;
  border: 0.03em solid $navy;

  .hermione__line {
    color: black;
    background-color: white;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hermione__button {
  outline: none;
  background-color: $green;
  border: none;
  padding: 0.4em;
  border: 0.05em solid $navy;
  cursor: pointer;
}

.hermione__input {
  outline: none;
  background-color: $green;
  border: none;
  padding: 0.4em;
  border: 0.05em solid $navy;
  color: white;
}

.frog__chocolate {
  width: auto;
  height: 50em;
  margin: 2.5em 2em;
  margin-top: 0.5em;
  border-radius: 1.4em;
  border: 0.03em solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frog__text {
  display: flex;
  align-items: center;
  max-width: 600px;
  height: 40px;
  border: 0.03em solid black;
  overflow: hidden;
  white-space: nowrap;
  background-color: $green;
  span {
    font-size: 20px;
    animation: movingtext 10s linear infinite forwards;
  }
}
@keyframes movingtext {
  from {
    transform: translateX(-40%);
  }
  to {
    transform: translateX(0);
  }
}

.frog__container {
  margin: 1em auto;
  width: 80%;
  height: 80%;
  display: grid;
  gap: 0.1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: relatve;
}

.frog__wrapper {
  position: relative;
}
.frog__box {
  background-color: #192a56;
  color: $yellow;
  padding: 0.6em 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .frog__box__first {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
  }
  .frog__box__second {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .frog__box__image--1 {
      width: 14em;
      height: 10em;
      background-image: url("https://images.unsplash.com/photo-1577493340887-b7bfff550145?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=586&q=80");
      background-position: center;
      background-size: cover;
    }
    span {
      width: 90%;
      margin-top: 2em;
    }
  }

  .frog__box__third {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
  }
}

.froggy--8 {
  position: relative;
  &:hover {
    .absolute__image {
      position: absolute;
      background-color: red;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("https://images.unsplash.com/photo-1597205601011-885bdb56c969?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
      background-position: center;
      background-size: cover;
    }
  }
}

.btn__container {
  position: relatve;
}
.btn {
  font-size: 1em;
  width: 2em;
  height: 2em;
  background-color: $green;
  border: none;
  border-radius: 50%;
}

.btn--right {
  position: absolute;
  top: 1000px;
  right: 150px;
}

.btn--left {
  position: absolute;
  top: 1000px;
  left: 150px;
}

.froggy--1 {
  position: relative;
  &:hover {
    .absolute__image {
      position: absolute;
      background-color: red;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("https://images.unsplash.com/photo-1577493340887-b7bfff550145?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=586&q=80");
      background-position: center;
      background-size: cover;
    }
  }
}
.froggy--2 {
  position: relative;
  &:hover {
    .absolute__image {
      position: absolute;
      background-color: red;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("https://images.unsplash.com/photo-1467646208740-18124b37eb58?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=552&q=80");
      background-position: center;
      background-size: cover;
    }
  }
}

.frog__box__image--2 {
  width: 14em;
  height: 10em;
  background-image: url("https://images.unsplash.com/photo-1467646208740-18124b37eb58?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=552&q=80");
  background-position: center;
  background-size: cover;
}

.froggy--3 {
  position: relative;
  &:hover {
    .absolute__image {
      position: absolute;
      background-color: red;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("https://images.unsplash.com/photo-1514580964530-2f83a8edbeb7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=576&q=80");
      background-position: center;
      background-size: cover;
    }
  }
}

.frog__box__image--3 {
  width: 14em;
  height: 10em;
  background-image: url("https://images.unsplash.com/photo-1514580964530-2f83a8edbeb7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=576&q=80");
  background-position: center;
  background-size: cover;
}

.froggy--4 {
  position: relative;
  &:hover {
    .absolute__image {
      position: absolute;
      background-color: red;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("https://images.unsplash.com/photo-1604596788152-4effec778c72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80");
      background-position: center;
      background-size: cover;
    }
  }
}

.frog__box__image--4 {
  width: 14em;
  height: 10em;
  background-image: url("https://images.unsplash.com/photo-1604596788152-4effec778c72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80");
  background-position: center;
  background-size: cover;
}

.froggy--5 {
  position: relative;
  &:hover {
    .absolute__image {
      position: absolute;
      background-color: red;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("https://images.unsplash.com/photo-1594399430496-87bf3eb08ad7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80");
      background-position: center;
      background-size: cover;
    }
  }
}

.frog__box__image--5 {
  width: 14em;
  height: 10em;
  background-image: url("https://images.unsplash.com/photo-1594399430496-87bf3eb08ad7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80");
  background-position: center;
  background-size: cover;
}

.froggy--6 {
  position: relative;
  &:hover {
    .absolute__image {
      position: absolute;
      background-color: red;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("https://images.unsplash.com/photo-1594399433555-467d140af8ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80");
      background-position: center;
      background-size: cover;
    }
  }
}
.frog__box__image--6 {
  width: 14em;
  height: 10em;
  background-image: url("https://images.unsplash.com/photo-1594399433555-467d140af8ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80");
  background-position: center;
  background-size: cover;
}

.frog__box__image--7 {
  width: 14em;
  height: 10em;
  background-image: url("https://images.unsplash.com/photo-1618944000324-1b3a77970ded?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80");
  background-position: center;
  background-size: cover;
}

.frog__box__image--8 {
  width: 14em;
  height: 10em;
  background-image: url("https://images.unsplash.com/photo-1597205601011-885bdb56c969?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-position: center;
  background-size: cover;
}

.froggy--7 {
  position: relative;
  &:hover {
    .absolute__image {
      position: absolute;
      background-color: red;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("https://images.unsplash.com/photo-1618944000324-1b3a77970ded?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80");
      background-position: center;
      background-size: cover;
    }
  }
}

.padfoot__map {
  width: auto;
  height: 33em;
  margin: 2.5em 2em;
  margin-top: 0.5em;
  border-radius: 1.4em;
  border: 0.03em solid black;
  display: flex;
  justify-content: center;
}

.map__container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  position: relative;

  .map__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .map__text {
      padding: 0.4rem;
      background-color: $navy;
      color: $yellow;
      transition: color 0.4s;

      &:hover {
        color: $green;
      }
    }
  }
}

.lumos__btn {
  margin-top: 2rem;
  width: 4rem;
  height: 2rem;
  display: block;
  background-color: white;
  border: 0.04rem solid $green;
  font-style: italic;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}

.map__map {
  background-color: black;
  // position: absolute;
  width: 50rem;
  height: 30rem;
  position: absolute;
  top: 40rem;
}

.map__bye {
  display: none;
}

.tell__country {
  width: auto;
  height: 33em;
  margin: 2.5em 2em;
  margin-top: 0.5em;
  border-radius: 1.4em;
  border: 0.03em solid black;
  display: flex;
  justify-content: center;
}
.visible {
  display: none;
}

.country__container {
  width: 80rem;
  border-radius: 1.4em;
  margin: 2rem;
  border: 0.03em solid black;
  padding: 1rem;
}

.country__header {
  display: flex;
}
.country__header--input {
  width: 20rem;
  padding: 1rem 5rem;
  border-radius: 1.4em;
  border: 0.01em solid black;
  outline: none;
  margin-right: 0.5rem;
}
.country__header--button {
  width: 5rem;
  padding: 1rem 0rem;
  border-radius: 1.4em;
  border: 0.01em solid black;
  outline: none;
  background-color: white;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: $green;
    color: $purple;
  }
}

.country__body {
  display: flex;
}

.country__lists {
  margin: 1rem 0rem;
  width: 20rem;
  height: 20rem;
  border-radius: 1.4em;
  border: 0.01em solid black;
  background-color: $navy;
  margin-right: 3rem;
}
.country__info {
  margin: 1rem 0rem;
  width: 40rem;
  height: 20rem;
  border-radius: 1.4em;
  border: 0.01em solid black;
  .about__country {
    margin: 3rem;
    width: 30rem;
    height: 100px;
    border: 0.03em solid $green;
    display: flex;
    // flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.2s ease-in-out;
    &:hover {
      border: 0.03em solid $purple;
    }
    h1 {
      font-size: 1.5rem;
      margin-right: 0.5rem;
      color: $navy;
    }
    span {
      color: $navy;
      font-size: 0.8rem;
    }
  }
  .country__flag img {
    width: 150px;
    height: 100px;
    margin-right: 1rem;
  }
}

.spineer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-spinner {
  animation: spin 1s linear infinite;
  font-size: 1.4rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
